/* (A) GOOGLE MATERIAL ICONS */
@font-face{font-family:"Material Icons";src:url(maticon.woff2) format("woff2")}
.mi{font-family:"Material Icons";font-weight:400;font-style:normal;text-decoration:none;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased}

/* (B) WHOLE SITE */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0; padding: 0;
  background: #f2f2f2;
  overflow-x: hidden;
}
#pgA, #pgB, #pgC {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
#pgA.show, #pgB.show, #pgC.show {
  opacity: 1;
  visibility: visible;
}
#pgB, #pgC {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0; left: 0; z-index: 999;
  width: 100vw; height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* (C) NOTES LIST */
/* (C1) PAGE WRAPPER */
#pgA {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

/* (C2) ADD NOTE BUTTON */
#nAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 40px;
  color: #767676;
  background: #fff;
  cursor: pointer;
}

/* (C3) NOTES LIST */
#nList {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-top: 10px;
  grid-gap: 10px;
}
@media screen AND (max-width: 768px) {
  #nList { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}
@media screen AND (max-width: 600px) {
  #nList { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}
#nList .note {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#nList .title {
  font-size: 26px;
  padding: 0;
  margin: 0 0 5px 0;
}

/* (C4) ABOUT BUTTON */
#nAbout {
  padding : 20px 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #9b9b9b;
  cursor: pointer;
}

/* (D) NOTE FORM */
#pgB form {
  min-width: 320px; max-width: 400px;
  background: #f2f2f2;
  padding: 15px;
}
label, input[type=text], input[type=color], textarea {
  display: block;
  width: 100%;
  border: 0;
}
label { padding: 10px 0; }
input[type=text], textarea { padding: 10px; }
textarea { height: 150px; resize: none; }
#nAction {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
#nAction input {
  margin: 1px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border: 0;
  background: #3440d3;
  cursor: pointer;
}

/* (E) ABOUT PAGE */
#aboutPop {
  position: relative;
  background: #fff;
}
#aboutCX {
  position: absolute;
  top: 0; right: 0;
  font-size: 32px;
  color: #fff;
  background: #9d2121;
  border-radius: 50%;
  cursor: pointer;
}
#aboutHead {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
}
#aboutLinks {
  padding: 20px;
}